<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>

    </head>
    <body>
        <header class="main-header" th:fragment="header">
            <div class="header_content">
                <img class="logo" th:src="@{/images/header_images/logo.jfif}" alt="tree logo"/>
                <img class="img-fluid" th:src="@{/images/header_images/family_tree_title.png}" alt="image_header">
            </div>

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
                <a class="navbar-brand" href="#">Ettoubali's Family Tree</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav w-100">
                        <li th:classappend="${page_title == 'Home' ? 'nav-item active' : 'nav-item'}">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li th:classappend="${page_title == 'History' ? 'nav-item active' : 'nav-item'}">
                            <a class="nav-link" th:href="@{/history}">History</a>
                        </li>
                        <li th:classappend="${page_title == 'Contact' ? 'nav-item active' : 'nav-item'}">
                            <a class="nav-link" th:href="@{/contact}">Contact</a>
                        </li>
                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <span class="fas fa-cogs"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">

                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn btn-dark btn-block" sec:authorize="isAuthenticated()" th:href="@{/logout}"><span class="fas fa-sign-out-alt" aria-hidden="true"> Logout</span></button>
                                </form>
                                <a class="btn btn-dark btn-block" sec:authorize="isAnonymous()" th:href="@{/login}"><span class="fas fa-sign-in-alt"></span> Sign in</a>
                                <div sec:authorize="isAuthenticated()">
                                    <a  sec:authentication="principal.authorities">Roles</a>
                                    <br></br>Hi, <a  sec:authentication="name">Username</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>