footer.jumbotron{
    color: black;
    padding-top: 45px;
    margin-right: 15px;
    margin-left: 15px;
}

footer.jumbotron .row .left__side{
}

footer.jumbotron .row .center__side{
    border-left: solid;
    border-right: solid;
}