<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.7.0/css/all.css}" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <title th:text="${page_title}"></title>
        <link th:href="@{css/header.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{css/foote.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{css/login.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!--Header fragment-->
        <div th:replace="fragments/header :: header"></div>

        <div class="container-fluid text-center">
            <div class="row justify-content-center">

                <div class="col-sm-6">
                    <div class="my-4">
                        <h2>Admin, Fill your Data to access...|</h2>
                    </div>

                    <!--<form  method="post" th:action="@{/login}">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="email" class="sr-only">Username</label>
                        <input type="text" id="email" name="username" class="form-control" placeholder="Email" required autofocus>
                    </p>
                    <p>
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>-->

                    <br>
                    <hr>

                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Invalid username or
                                password.</div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">You have been logged out.</div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">Username</label>
                            <input id="email" name="username" class="form-control" type="text" placeholder="E-mail" value="mohamed@mohamed.com"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <input id="password" name="password" class="form-control" type="password" placeholder="Password" value="qwe123"/>
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color: olivedrab">Sign in</button>
                    </form>
                </div>
            </div>

        </div>
        <!--Footer fragment-->
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>

